<!DOCTYPE html>
<html>

<head>
    <title>Folder Preview</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/static/js/script.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <input id="search" type="text" placeholder="Search" autocomplete="off">

    <div id="wrapper">
        <div class="directory">
            <h3>
                <a href="/">~</a>
                {{ breadcrumb }}
            </h3>


            <ul id="files" class="view-tiles">
                <li>
                    <a href="{{ prev_path }}" class=icon title="Go back"><span class="go-back name">

                            Go Back</span></a>
                </li>
                {% for item, is_dir, itempath in items %}
                <li>
                    <a href="{{ somepath }}/{{ item }}" class="icon" title="{{ item }}">

                        <span class="name">

                            {{ item }}
                        </span></a>

                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="footer">
            <p>Tool Developed by <a href="https://github.com/RyanBaig">@RyanBaig</a></p>
        </div>
    </div>




</body>

</html>